:root {
  --color-primary: #212121;
  --color-logo-studio: #000000;
  --color-title-secondary: #ffffff;
  --color-link-text: #757575;
  --color-accent: #2196f3;
  --color-background: #188ce8;
  --color-order-shadow: rgba(0, 0, 0, 0.15);
  --color-conact-footer: rgba(255, 255, 255, 0.6);
  --color-order-section: #2f303a;
  --color-comand-section: #f5f4fa;
  --color-background-order: #c4c4c4;
  --color-portfolio-button: #afb1b8;
  --color-border: #eeeeee;
}

h1,
h2,
h3,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  color: var(--color-primary);
}

ul,
li {
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--color-border);
}

.header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list-nav {
  width: 281px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 786px) {
  .header__list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__item-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item-nav:hover, .header__item-nav:focus {
  color: var(--color-accent);
}

.header__contact-list {
  display: none;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-primary);
}
@media (min-width: 786px) {
  .header__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
  }
}

.header__nav-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-link-text);
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .header__nav-contact {
    margin-left: 96px;
    padding: 0px;
  }
}
.header__nav-contact:hover,
.header__nav-contact :focus {
  color: var(--color-accent);
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.adress {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--color-title-secondary);
}
@media (max-width: 1200px) {
  .adress {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}

.adress__footer {
  margin-bottom: 9px;
}
@media (max-width: 1200px) {
  .adress__footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    display: block;
  }
}

.adress__contact {
  display: block;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-conact-footer);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__contact:hover, .adress__contact:focus {
  color: var(--color-accent);
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__list {
  display: block;
}
@media (min-width: 1200px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.adventage__card {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background: var(--color-comand-section);
  border-radius: 4px;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .adventage__card {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .adventage__card {
    width: 270px;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .adventage__card {
    width: 100%;
  }
}

.adventage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__title {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantage__title {
    display: inline-block;
  }
}

.advantage__text {
  height: 72px;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--color-link-text);
}
@media (min-width: 480px) {
  .advantage__text {
    width: 270px;
  }
}

.agreement {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 14px;
  padding-right: 14px;
}

.agreement-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement--color-accent {
  color: var(--color-accent);
}

.agreement-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agreement__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  display: block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.88;
  /* identical to box height, or 188% */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-title-secondary);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, box-shadow;
  transition-property: background-color, border, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__button:hover, .agreement__button:focus {
  background: var(--color-background);
}

.agreement__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.agreement__checkbox-input:checked + ::after {
  opacity: 1;
}

.agreement__checkbox-label {
  position: relative;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  line-height: 0.6;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--color-link-text);
}
.agreement__checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  background: var(--color-title-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  content: "";
}
.agreement__checkbox-label::after {
  position: absolute;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(/images/ok.svg);
  background-color: var(--color-accent);
  border: 0.2px solid var(--color-accent);
  border-radius: 2px;
  fill: var(--color-title-secondary);
  content: "";
  opacity: 0;
}

.button {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--color-comand-section);
  border-color: transparent;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--color-title-secondary);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__order {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: block;
  width: 216px;
  height: 50px;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.88;
  /* identical to box height, or 188% */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-title-secondary);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, box-shadow;
  transition-property: background-color, border, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__order:hover,
.button__order :focus {
  background: var(--color-background);
}

.button__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

.button__mobile-menu {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 0.03em;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 786px) {
  .button__mobile-menu {
    display: none;
  }
}
.button__mobile-menu:hover, .button__mobile-menu:focus {
  fill: var(--color-accent);
}

.button__mobile-icon {
  display: block;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  background: var(--color-title-secondary);
  border: 1px solid var(--color-border);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover,
.card__item :focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__link {
  display: block;
}
.card__link:hover .overflow, .card__link:focus .overflow {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 480px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (min-width: 480px) {
  .client__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
  }
}

.client__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 225px;
      flex-basis: 225px;
  fill: var(--color-portfolio-button);
}
@media (min-width: 480px) {
  .client__icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.client__icon {
  margin-bottom: 30px;
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--color-portfolio-button);
  border-radius: 4px;
  fill: var(--color-portfolio-button);
  border: 1px solid var(--color-portfolio-button);
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .client__icon {
    width: 170px;
    margin-bottom: 0px;
  }
}
.client__icon:hover, .client__icon:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.comand__list {
  display: block;
}
@media (min-width: 1200px) {
  .comand__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .comand__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 480px) {
  .comand__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.comand__card {
  width: 100%;
  background-color: var(--color-title-secondary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 1200px) and (min-width: 480px) {
  .comand__card {
    width: 354px;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .comand__card {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .comand__card {
    width: 270px;
  }
}

.comand__title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.comand__name-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-comand-section);
}
@media (min-width: 480px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.comand__card-name {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-align: center;
}

.comand__card-profession {
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--color-link-text);
  text-align: center;
  margin-bottom: 16px;
}

.comand__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.comand__social-icon {
  width: 40px;
  height: 40px;
  fill: var(--color-portfolio-button);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comand__social-icon:hover, .comand__social-icon:focus {
  background-color: var(--color-accent);
  fill: var(--color-title-secondary);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-order-section);
}

.footer__box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 70px;
  }
}

.footer__social-icon {
  width: 206px;
}

@media (min-width: 1200px) {
  .footer__box-agreement {
    width: 570px;
    margin-left: 23px;
  }
}

.footer__call {
  margin-bottom: 20px;
  width: 145px;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title-secondary);
}
@media (max-width: 1200px) {
  .footer__call {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
  }
}

.footer-box-contact {
  margin-left: auto;
  margin-right: auto;
}

.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--color-link-text);
}

.form__coment {
  height: 120px;
  width: 100%;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__coment:focus {
  border-color: var(--color-accent);
}

.form__control {
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--color-primary);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon.form__control:focus-within {
  fill: var(--color-accent);
}

.form__title {
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__input {
  position: relative;
  padding: 14px 14px 14px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--color-accent);
}

.header {
  border-bottom: 1px solid var(--color-border);
}

.header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list-nav {
  width: 281px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 786px) {
  .header__list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__item-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item-nav:hover, .header__item-nav:focus {
  color: var(--color-accent);
}

.header__contact-list {
  display: none;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-primary);
}
@media (min-width: 786px) {
  .header__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
  }
}

.header__nav-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-link-text);
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .header__nav-contact {
    margin-left: 96px;
    padding: 0px;
  }
}
.header__nav-contact:hover,
.header__nav-contact :focus {
  color: var(--color-accent);
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  background-color: var(--color-order-section);
  background: var(--color-background-order);
}
@media (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__backimage {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid var(--color-background-order);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .hero__backimage {
    height: 600px;
    width: 100%;
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-title-secondary);
}
@media (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
  }
}

.link-current {
  position: relative;
  color: var(--color-accent);
}
.link-current::after {
  content: "";
  position: relative;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4px;
  background: var(--color-accent);
  border-radius: 2px;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__footer {
  margin-bottom: 20px;
  text-decoration: none;
  display: block;
  height: 31px;
  width: 145px;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}
@media (max-width: 1200px) {
  .logo__footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
}

.logo--blue {
  color: var(--color-accent);
}

.logo--black {
  color: var(--color-logo-studio);
}

.logo--white {
  color: var(--color-title-secondary);
}

.modal {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--color-title-secondary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  fill: var(--color-accent);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.overflow {
  position: absolute;
  width: 370px;
  top: 0%;
  left: 0%;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.overflow__text {
  display: block;
  width: 370px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--color-title-secondary);
  padding: 64px 24px;
}

.project {
  padding: 20px 24px;
}

.project__name {
  padding-bottom: 4px;
  font-weight: 700;
  line-height: 2;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
}

.project__type {
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--color-link-text);
}

.project__box {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 10px;
}
@media (max-width: 1200px) {
  .social-icon__list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.social-icon__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-title-secondary);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__item:hover, .social-icon__item:focus {
  background-color: var(--color-accent);
}

.specialization {
  display: none;
}
@media (min-width: 1200px) {
  .specialization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
}

.specialization__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.specialization__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specialization__card {
  position: relative;
  width: 370px;
}

.specialization__item {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title-secondary);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  /* z-index: 1; */
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0%;
}

.subscribe {
  margin-bottom: 20px;
  width: 207px;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title-secondary);
}
@media (max-width: 1200px) {
  .subscribe {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  font-weight: 400;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .subscribe__form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.subscribe__button {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  fill: var(--color-title-secondary);
  color: var(--color-title-secondary);
  background: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, box-shadow;
  transition-property: background-color, border, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
  .subscribe__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__mail {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .subscribe__mail {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .subscribe__mail {
    margin-left: auto;
    margin-right: auto;
  }
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=mine.css.map */