.adress {
  @media (max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-title-secondary);
}

.adress__footer {
  @media (max-width: 1200px) {
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  margin-bottom: 9px;
}

.adress__contact {
  display: block;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-conact-footer);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

// .adress {
//     display: block;
//     margin-bottom: 9px;
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     /* or 171% */
//     letter-spacing: 0.03em;
//     color: var(--color-title-secondary);
// }

// .adress__footer {
//     margin-bottom: 9px;
// }

// .adress__contact {
//     display: block;
//     font-style: normal;
//     font-family: inherit;
//     font-size: 14px;
//     line-height: 1.71;
//     /* or 171% */
//     letter-spacing: 0.03em;
//     text-decoration: none;
//     color: var(--color-conact-footer);
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--color-accent);
//     }
// }
