.hero {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  background-color: var(--color-order-section);
  background: var(--color-background-order);
  @media (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__backimage {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid var(--color-background-order);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 1200px) {
    height: 600px;
    width: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/Img-bg@2x.jpg');
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-title-secondary);
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 360px;
  }
  @media (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
  }
}

// .hero {
//   @media (min-width: 1200px) {
//     height: 600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//   }
//   display: block;
//   padding-top: 118px;
//   padding-bottom: 118px;

//   height: 400px;
//   background-color: var(--color-order-section);
//   background: var(--color-background-order);
// }

// .hero__backimage {
//   @media (min-width: 1200px) {
//     height: 600px;
//     width: 100%;
//   }
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url('../images/Img-bg@2x.jpg');
//   }

//   max-width: 1600px;
//   height: 400px;
//   margin-left: auto;
//   margin-right: auto;
//   outline: 1px solid var(--color-background-order);
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url('../images/Img.jpg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .hero-title {
//   @media (min-width: 1200px) {
//     width: 696px;
//     font-size: 44px;
//   }
//   @media (min-width: 768px) and (max-width: 1199px) {
//     width: 360px;
//   }
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;
//   display: block;
//   text-align: center;
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--color-title-secondary);
// }
