.social-icon__list {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.social-icon__item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-title-secondary);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            background-color: var(--color-accent);
        }
}




// .social-icon__list {
//     display: flex;
//     justify-content: center;
//     justify-items: center;
//     gap: 10px;
// }

// .social-icon__item {
//     width: 44px;
//     height: 44px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     fill: var(--color-title-secondary);
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         background-color: var(--color-accent);
//     }
// }