:root {
    --color-primary: #212121;
    --color-logo-studio: #000000;
    --color-title-secondary: #ffffff;
    --color-link-text: #757575;
    --color-accent: #2196f3;
    --color-background: #188ce8;
    --color-order-shadow: rgba(0, 0, 0, 0.15);
    --color-conact-footer: rgba(255, 255, 255, 0.6);
    --color-order-section: #2f303a;
    --color-comand-section: #f5f4fa;
    --color-background-order: #c4c4c4;
    --color-portfolio-button: #afb1b8;
    --color-border: #eeeeee;
}
